<div class="row" style="height:100%"> 
  <div class="col-2" style="background-color: #9c3353;"> 
        <app-profile></app-profile>         
  </div> 
  <div class="col-10" style="background-color: whitesmoke;"> 
    <h2>PENDING NGO LOGIN REQUEST</h2>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>NGO Name</th>
            <th>Description</th>       
            <th>Address</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingNgoUser of peningNgoUsers">
            <td>
              <div class="d-flex align-items-center">                
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{pendingNgoUser.name}}</p>
                  <p class="text-muted mb-0">{{pendingNgoUser.email}}</p>
                  <p class="text-muted mb-0">{{pendingNgoUser.phoneNumber}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{pendingNgoUser.ngoShortDescription}}</p>          
            </td>
            <td>
              <p class="fw-normal mb-1">{{pendingNgoUser.address}}</p>     
            </td>
            <td>{{pendingNgoUser.status}}</td>
            <td>
              <button type="button" class="btn  btn-primary" (click)="updateUserStatus(pendingNgoUser.username, 'APPROVED')">
                Approve
              </button>
              <button type="button" class="btn  btn-warning" style="margin-left: 5px;" (click)="updateUserStatus(pendingNgoUser.username, 'REJECTED')">
                Reject
              </button>
            </td>
          </tr>            
        </tbody>
      </table>
    
    
      <br>
      <br>
      <h2>PENDING FUND REQUESTS</h2>
    
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Subject</th>
            <th>Description</th>       
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingFundRaiseRequest of pendingFundRaiseRequests">
            <td>
              <div class="d-flex align-items-center">            
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{pendingFundRaiseRequest.subject}}</p>        
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{pendingFundRaiseRequest.description}}</p>          
            </td>
            <td>
              <p class="fw-normal mb-1">{{pendingFundRaiseRequest.amount}}</p>     
            </td>
            <td>{{pendingFundRaiseRequest.status}}</td>
            <td>
              <button type="button" class="btn  btn-primary" (click)="updateFundRaiseRequest(pendingFundRaiseRequest.id, 'APPROVED')">
                Approve
              </button>
              <button type="button" class="btn  btn-warning" style="margin-left: 5px;" (click)="updateFundRaiseRequest(pendingFundRaiseRequest.id, 'REJECTED')">
                Reject
              </button>
            </td>
          </tr>            
        </tbody>
      </table>
  </div> 	 
</div> 

